@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Learnbook</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/dist/lib/bootstrap/dist/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="~/dist/css/Site.css" type="text/css" />
    </environment>
    <environment names="Staging,Production">

    </environment>

    <base href="@Url.Content("~")" />
</head>
<body>
    <div class="app-wrapper">
        @RenderBody()
        @*<footer class="site-footer">
            <p>&copy; @DateTime.Now.Year - Learnbook @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion</p>
        </footer>*@
    </div>

    <environment names="Development">
        <script src="~/dist/lib/jquery/dist/jquery.js"></script>
        <script src="~/dist/lib/tether/dist/js/tether.js"></script>
        <script src="~/dist/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/dist/lib/gsap/src/uncompressed/TweenMax.js"></script>

        <script src="~/dist/lib/core-js/client/shim.js"></script>
        <script src="~/dist/lib/zone.js/dist/zone.js"></script>
        <script src="~/dist/lib/reflect-metadata/Reflect.js"></script>
        <script src="~/dist/lib/systemjs/dist/system.src.js"></script>

        <script src="~/js/systemjs.config.js"></script>
        <script>
            System.import('app')
                .then(function (module) {
                    module.main({
                        id: "@User.Identity.Name",
                        role: "@User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).FirstOrDefault()"
                    })
                })
                .catch(function (err) { 
                    console.error(err); 
                });
        </script>
    </environment>
    <environment names="Staging,Production">

    </environment>
</body>
</html>
